      
        <html>
        <head lang="en">
            <meta charset="UTF-8">
            <title>Оформити замовлення</title>

            
             <script type= "text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIymwmsUpPbwvlg_OLxbsW46MqVDKcXM&sensor=false"
        ></script> 
            <!-- Bootsrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

            <!-- LESS основний файл -->
            <link rel="stylesheet/less" type="text/css" href=" assets/less/main.less" />
            <!-- LESS JavaScript компілятор -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


        </head>
        <body>

<div id = "wrapper">

           <div class =" navbar transparent navbar-nav">

                    <div class="main-container navbar transparent navbar-fixed-top panel-top">
                        <div class="navbar-brand emblem">
                            <div class="emblem-text medium-font">
                                <br>PIZZA</div>
                            <div class= "emblem-text large-font">
                                <br>KMA
                            </div>
                            <img class="emblem-image-discount" src="assets/images/discount.svg" />
                        </div>
                        <div class="row">
                            <div class="text-header">
                                <div class="phone-number top-row-item visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                                    (044) 222 5 222
                                </div>
                                <div class=" time-text top-row-item visible-lg-inline-block visible-md-inline-block">
                                    24 години/ 7 днів на тиждень
                                </div>
                                <div class="top-row-item delivery-text visible-lg-inline-block">
                                    Безкоштовна доставка піци
                                </div>
                                <div type="button" class="btn btn-warning  top-row-item gradient sign-in-button">
                                    Ввійти
                                </div>
                            </div>

                            <hr/>
                            <div class="line-in-header">
                                <a href="./index.html" class="under-line-text hidden-xs">Піца</a></div>
                        </div>
                </div>
                </div>
            <div class="container custom-order-one">
            <div class = "row">
                <div class = "col-md-6 col-xs-6 col-sm-6 col-lg-6">            
                <div class = "order-container">
                    <div class = "contact-info">
                        <div class = "contact-text">
                        <br> 1. Контактні дані
                        </div>
                        <!-- from ww3schoool.com http://www.w3schools.com/bootstrap/bootstrap_forms.asp -->
                        <form class="form-horizontal" role="form">
                            <div class="form-group "id= "name-input">
                            <label class="control-label col-sm-2" for="name">Ім'я</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Ім'я Прізвище">
                                    </div>
                                <div id= "name-error"></div>
                                    </div>
          <div class="form-group"id="tel-input">
            <label class="control-label col-sm-2" for="telephone">Телефон</label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="telephone" placeholder="+380958403344">
            </div>
 <div id= "tel-error"></div>
          </div>
                              <div class="form-group"id= 
"address-input">
            <label class="control-label  col-sm-2" for="Адреса">Адреса</label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="address" placeholder="вул.Г.Сковороди,2">
            </div>
                                   <div id= "address-error"></div>
          </div>
         
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default btn-warning gradient next-button">Далі</button>
            </div>
          </div>
                            <div id="map"></div>
        </form>
                        
        
                    </div>
                    
                    </div> 
                    
                </div>
                 <div class = "col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    <div class= "info-about-order">
                        <div clas="info-about-order-text">
                            <div class ="info-about-order-text-title">
                                Інформація про замовлення
                            </div>
                            <div class = "info-about-order-time">Приблизний час доставки:
                   <span class= "info-about-order-time-res standard-text">невідомий</span>
                            </div>
                              <div class = "info-about-order-address">Адреса  доставки:
                   <span class= "info-about-order-address-res standard-text">невідома</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
            </div>
                </div>
           
    <script>
       var map = "";
        var point= "";
        var marker= "";
function initialize(){
    var mapProp = {
        center:new google.maps.LatLng(50.464379,30.519131),
        zoom:11};
    var html_element= document.getElementById("map");
     map = new google.maps.Map(html_element,mapProp);
    
         point = new google.maps.LatLng(50.464379,30.519131);
         marker= new google.maps.Marker({
            position:point,
            map:map,
            icon:"assets/images/map-icon.png"
        });
    var consumerMarker = new google.maps.Marker({
        position:point,
        
        icon:"assets/images/home-icon.png"
    });
    console.log("Map:"+map);
    console.log("Point:"+point);
    map.addListener("click",function(me){
            console.log("Map listener:"+map);
    console.log("Point listener:"+point);
          
            var coordinates = me.latLng;
        console.log("coords"+coordinates);
             geocodeLatLng(coordinates,function(error,address){
                 if(error){
                     
                    $("#address-error").html("Адреса неправильна");
                     
                 } else {                   
                     consumerMarker.position=me.latLng;
                     consumerMarker.setMap(map);
                     
                     console.log("Position:"+consumerMarker.position);
                    $(".info-about-order-address-res").html(address); 
                     calculateRoute(point,consumerMarker.position,function(error,route){
                         if(error){
                             console.log('Route error');
                             
}else{
    console.log("Route value:"+route.duration.value);
    var min = Math.floor(route.duration.value/60);
    var sec =route.duration.value%60;
    $(".info-about-order-time-res").html(min+" хв " +sec +"сек");
}
                         
                     });
                     
                 }
             });
        
    });
}
        marker.setMap(null);

      
        function geocodeLatLng(latLng,callback){
            console.log("Goecode latLng");
            var geocoder =new google.maps.Geocoder();
            geocoder.geocode({'location':latLng},function(results,status){
                if(status === google.maps.GeocoderStatus.OK && results[1]){
                    var address= results[1].formatted_address;
                    callback(null,address);
                    
                }else{
callback(new Error("Can't find addres"));}
            } );
        }
              
            function geocodeAddress(address,callback){
                console.log("geocodeAddress");
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'address':address},function(results,status){
                    if(status===google.maps.GeocoderStatus.OK&&results[0]){
                        var coordinates = results[0].geometry.location;
                        callback(null,coordinates);
}else{
    callback(new error("Can't find address"));
}
                });
} 
            function calculateRoute(A_latLng,B_latLng,callback){
                console.log("calculaterRoute");
    var directionService = new google.maps.DirectionsService();
    directionService.route({
        origin:A_latLng,
        destination:B_latLng,
        travelMode:google.maps.TravelMode["DRIVING"]},function(response,status){
        if(status===google.maps.DirectionsStatus.OK){
            var leg = response.routes[0].legs[0];
            console.log("Direction Service:"+leg.duration);
            callback(null,{
                duration:leg.duration
               
                
            });
        }else{
            console.log("status fails");
            callback(new Error("Can't find direction"));
        }
    
    });
}
           console.log("Script map"+map); 
     
         google.maps.event.addListener(map,'click',function(me){
              console.log("Map listener:"+map);
    console.log("Point listener:"+point);
             alert("Clicked");
            var coordinates = me.latLng;
             geocodeLatLng(coordinates,function(error,address){
                 if(error){
                     alert("Адреса неправильна !");
                    $("#address-error").html("Адреса неправильна");
                     
                 } else {                   
                     var consumerMarker= new google.maps.Marker({position:me.latLng,map:map,icon:"assets/images/home-icon.png"});
                     alert("Position:"+consumerMarker.position);
                    $("#info-about-address-res").html(address); 
                     calculateRoute(point,consumerMarker.position,function(error,route){
                         if(error){
alert("Not time");}else{
    $(".info-about-order-item-res").html(route.duration.value);
}
                         
                     });
                     
                 }
             });
         });
                 
                     
            
    


    </script>
   
























         <div id="to-buy-list">
                        <div class = " order nav navbar-default">
                                <div class="order-text-title">
                                    Замовлення
                                    <span class="badge">
                                        <div id = "order-value">0</div>
                                        </span>
                            </div>
                                <div id="clean-to-buy-text">
                                    Очистити замовлення
                            </div>
                            </div>

                            <div class="order-list">





                </div>
                              <div class="left-bottom-total-price">
        <div>
                                    <span class="total-value">Сума замовлення</span>
                                    <span class="total-price">0 грн</span>
                                </div>
                                   <form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/3/checkout">
                                <button type="submit" class="btn btn-lg btn-warning gradient" id="order-button">Замовити</button>
                                         </form>
                                  <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTY4OTkzNjc2MDA3IiwiYW1vdW50IjoiNSIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQnNC+0Lkg0YLQvtCy0LDRgCIsInR5cGUiOiJidXkiLCJzYW5kYm94IjoiMSIsImxhbmd1YWdlIjoicnUifQ==" />
<input type="hidden" name="signature" value="hFwP65io0SpQOjTcFHChDH4lY5w=" />
                                </div>
                                
                                  
             <div class = "emblem-inverse">
            <img class = "emblem-inverse-image" src="assets/images/discount.svg">
            <div class="emblem-inverse-text">
                <br>Цього
                <br>тижня 
                <br> знижка на 20%
</div>
        </div>
             
              <!--  <div class = "footer container-fluid">
                    <div class = "footer-text">
                        Some text here
        </div>
                </div> -->
<!--https://www.liqpay.com/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTY4OTkzNjc2MDA3IiwiYW1vdW50IjoiNSIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQnNC%2B0Lkg0YLQvtCy0LDRgCIsInR5cGUiOiJidXkiLCJzYW5kYm94IjoiMSIsImxhbmd1YWdlIjoicnUifQ%3D%3D&signature=hFwP65io0SpQOjTcFHChDH4lY5w%3D -->


      



    </div>
            </div>
      
<% include common/footer.ejs %>
            <script >
                
//$("#name").val( "new value here" );
         function validateName(){
            var pattern=/^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$/;
             
            var input = $("#name").val();
             console.log(pattern +input);
            if(pattern.test(input)){
                $("#tel-input").removeClass("has-error");
            $("#name-input").addClass("has-success");
                $("#name-error").html("");
              console.log(pattern.test(input));  
}else{
     console.log(pattern.test(input));  
   
    $("#name-input").addClass("has-error");
    $("#name-input").removeClass("has-success");
   $('#name-error').html("Введіть ім'я  тільки з літер ");
    //$('#name-error').addClass("has-success");
}
            
        }
        $("#name").on('input',validateName);
                
                
        function validatePhone(){
            var pattern=/^\+[0-9]{12}|0[0-9]{9}$/;
            var input = $("#telephone").val();
            if(pattern.test(input)){
                $("#tel-input").removeClass("has-error");
           $("#tel-input").addClass("has-success");
              console.log(pattern.test(input));  
}else{
     console.log(pattern.test(input));  
    $("#tel-input").addClass("has-error");
    $("#tel-input").removeClass("has-success");
     $('#tel-error').html("Введіть номер починаючи з +380 чи 0 ");
}
            
        }
        $("#telephone").on('input',validatePhone);
                $(".next-button").click(function(){
                    var address = $("#address").val();
                    geocodeAddress(address);
                    
                    
                    
});
                google.maps.event.addDomListener(window,'load',initialize); 
                

            </script>

                <!-- jQuery JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

        <!--Bootsrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!--Own JavaScript -->
        <script type="text/javascript"  src="assets/js/main.js"> </script>
               
                   


        </body>
        </html>