



<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
       <div class = "emblem-inverse">
            <img class = "emblem-inverse-image" src="assets/images/discount.svg">
            <div class="emblem-inverse-text">
                <br>Цього
                <br>тижня 
                <br> знижка на 20%
</div>
        </div>
   
                        

</body>
</html>