.pizza-card {
  img {
    max-width: 250px;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
}
.button-buy{
    color:darkorange;
    display:inline-block;
    position: relative;
    margin-left:@main-size;
    
    
}
.button-buy-left{
    position:relative;
    border-left:@main-size;
    
}
.button-buy-right{
 
}
.text-header{
  display:block;
    color:white;
    text-align:left;
    font-family:@font-family;
}
.text-free{
display:inline;
}
.text-time{
    display:inline; 
}
.text-number{
    display:inline;
}
.footer-title{
    color:grey;
    text-align:center;
    font-family:@font-family;
    padding-top:@main-size/2;
}
