.pizza-card {
  img {
    max-width: 250px;
      max-height:250px;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
}
.popular-label{
    position:absolute;
    top:-20px;
    left:200px;
    width:80px;
    text-align:center;
    font-size:14px;
    
}
.pizza-image .only-pizza{
   padding:50px,50px,0px,0px;
    width:100px;
    height:50px;
}
.thumbnail{
    margin-bottom:auto;
    margin-bottom:40px;
    text-align:center;
    padding-bottom:20px;
    display:table;
}
.name-of-pizza{
    
}
.info{
    text-align:left;
}
.type-of-pizza{
    text-align:left;
}


.new-text{
    position:relative;
    left:0px;
    font-weight:none;
       text-align:center;
    font-size:15px;
    color:#fff;
    
}
.popular-text{
    position:relative;
    left:-11px;
    font-weight:none;
       text-align:center;
    font-size:15px;
    color:#fff;
    
}

